.car {
	height: 100px;
	width: 200px;
}

.top {
	width: 100px;
	height: 50px;
	background: red;
	margin-left: 50px;
}

.body {
	width: 200px;
	height: 50px;
	background: red;
}

.ramen {
	width: 95px;
	height: 45px;
	border: 5px solid red;
	background: #72C2C1;
	opacity: 90%;
}

.streep {
	position: relative;
	background-color: red;
	width: 5px;
	height: 45px;
	left: 50%;
}

.wielen {
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-bottom-color: black;
	position: relative;
	top: -30px;
	padding-top: 20px;
	margin-left: 10px;
}

.wielen:after {
	content: '';
	position: absolute;
	left: -30px;
	top: 30px;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: black;
	margin-top: 20px;
}

.wielen2 {
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-bottom-color: black;
	position: relative;
	top: -35px;
	padding-top: 20px;
	left: 80%;
}

.wielen2:after {
	content: '';
	position: absolute;
	left: -30px;
	top: 30px;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-top-color: black;
	margin-top: 20px;
}